.devTools{
    border: 2px solid red;
    border: none;
    background-color: #0074f9;
    padding: 10px;
    color: white;
    font-weight: 700;
    width: 90px;
    border-radius: 360px;
    height: 90px;
    position: relative;
    left: 720px;
   
  }.devToolsForm{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: auto;
  }.devToolsForm h2{
   color: #0074f9;
   font-family: 'Saira',sans-serif;
  }.devToolsForm label{
    color: rgb(70, 70, 70);
    text-align: start;
    padding-top: 20px;
    
  }.devToolsForm input, .devToolsForm textarea{
    border: none;
    border: 1px solid #0074f9;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
  }.devToolsForm input:focus, .devToolsForm textarea{
    border: 1px solid #303030;
    outline: none;
  }.devToolsForm input[type="submit"]{
   background-color: #303030;
   color: white;
  }.devToolsForm input[type="submit"]:active{
    background-color: #ffffff;
    color: #303030;
   }.devToolsForm input[type="radio"]:active{

   width: 30px;
   height: 30px;
   color: #0074f9;
   background-color: #0074f9;
   border: 2px solid red;
   }