.exposedProjetos {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  img {
    opacity: 0.9;
  }
  img:hover {
    cursor: pointer;
    transform: scale(1.01);
    opacity: 1;
  }
}

.BoxProjects {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .trlIndicator{
    margin: 5px;
    font-size: 12px;
    background-color: #2c66ce;
    color: white;
  }.trlPoint{
    background-color: #4b4a4a;
    color: #ffffff;
    font-size: 12px;
    margin: 5px;
  }
  .ProjectsBox {
    background-color: #edeff1;
    border-top: 10px solid #2c66ce;
    border-bottom: 2px solid #8b8c8c;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    height: 170px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    .ProjectsTitle {
      p {
        color: rgb(82, 82, 82);
        b {
          color: rgb(82, 82, 82);
        }
      }
    }

    h1 {

   
      font-size: 14px;
      color: #4b4a4a;
      text-transform: uppercase;
      font-weight: 700;
    }

    div:nth-child(1) {
      width: 100%;

      display: flex;
      flex-direction: column;
   

      img {
        mix-blend-mode: multiply;
        width: 100px;
      }
      svg {
        fill: rgb(50, 50, 50);

    
      }
    }
  
    button {
      width: 90px;
      height: 35px;
      border: none;
      position: relative;
      left: 250px;
      font-size: 12px;
      background-color: #2c66ce;

      color: white;
      border-radius: 2px;
      &:hover {
        background-color: #4b4a4a;
      }
    }
    P {
      font-size: 12px;
      font-weight: 700;
    }
    .prefixo {
      font-family: "Saira", sans-serif;
      font-size: 25px;
      letter-spacing: 1px;
      text-align: center;

      text-transform: uppercase;
      font-weight: 800;
      color: #2c66ce;
    }
  }

  .pagination_list {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 0;
    text-align: center;

    align-self: center;
    justify-content: center;
    align-items: center;
    li {
      padding: 0px;
      height: 31.5px;
      width: 100px;
      max-width: 100px;
    }
    a {
      font-size: 14px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    .active {
      background-color: #2c66ce;
      color: white;
    }
    .page_item {
      list-style: none;
      padding: 2px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2px;
    }
  }
}
.pageProject {
  display: flex;
  flex-direction: column;
  .column_group{
    display: flex;
    justify-content: space-between;
    div{
      width: 50%;
    
    }
    &:last-child{
      div{
        width: 100%;
      }
    }
   
  }
  .presentationPage {
    position: relative;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      top: -170px;
      height: 520px;
      filter: contrast(1.2);
      mix-blend-mode: multiply;
    }
  }.sigla{
    letter-spacing: 2px;
    color:#0d1e3f;
    font-weight: 700;
  }
  .title_project {
    p {
      margin: 30px;
      color: #0d1e3f;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
    }
  }
  .row {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    div {
      text-align: start;
    }

    b {
      display: flex;
      align-items: center;
    }
    b button {
      border-radius: 180px;
      border: none;
      height: 20px;
      margin: auto;
      width: 20px;
      margin-left: 5px;
      background-image: url("https://static-00.iconduck.com/assets.00/info-icon-2048x2048-tcgtx810.png");
      background-size: cover;
    }
    .modals{
      display: flex;
    justify-content: space-between;
    max-width: 350px;
    }
  }
  .presentationInformations {
    text-align: justify;
    h4{
      color: #2c66ce;
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: 700;
    
    } 
    .unlist{
    
      padding-bottom: 50px;
      li{


        list-style-type:lower-latin;
        text-align: start;
      
      }
    } 
  }
}
.articleModal {
  box-sizing: border-box;
  h2,
  p {
    text-align: center;
  }
  h3 {
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }

  h3:nth-of-type(1) {
    background-color: #2c66ce;
  }
  h3:nth-of-type(2) {
    background-color: #39630a;
  }
  h3:nth-of-type(3) {
    background-color: #0d1e3f;
  }
  .contentModal {
    max-height: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    span:nth-of-type(1) {
      background-color: #2c66ce;
      padding: 10px;
      color: white;
      border-radius: 10px;
    }
    span:nth-of-type(2) {
      color: rgb(70, 70, 70);
      font-weight: 700;
    }
    .boxModal {
      max-width: 300px;
      max-height: 300px;
      p {
        padding-top: 10px;
        text-align: justify;
        font-size: 13px;
      }
    }
 
    
  }
}
