.listchoice {
  width: auto;

  position: relative;
  z-index: 1;
  cursor: pointer;
}
input[type="radio"] {
  position: absolute;
  left: -9999px;
}
span {
  padding: 5px;
}
.listchoicetitle {
  max-height: 45px;
  text-align: center;

  position: relative;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
   width: 100%;
  
  padding: 10px;
  font-size: 12px;
  height: 50px;
  background-color: rgba(1, 16, 44, 0.686);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.listchoicetitle::after {
  content: "▲";
  position: relative;
  color: #ffffff;
  left: 5px;
  font-size: 10px;
}
.listchoiceobjects label:nth-last-of-type(1) span {
  border-radius: 0 0 0.2em 0.2em;
}
.listchoice input[type="radio"] + span {
  color: #000000;

  background-color: white;
  display: block;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;

  width: 100%;
}

.listchoice:hover .listchoicetitle::after {
  content: "▼ ";
  color: white;
}
.listchoiceobjects {
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 12px;
  flex-direction: column;
  top: 50px;
  
  width: 300px;
  max-width: 300px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  max-height: 0;
  transition: all 300ms ease;
}

.listchoice:hover .listchoiceobjects input[type="radio"] + span {
  position: relative;
  top: 0;
  transition: all 250ms ease-in-out;
}
.listchoice:hover input[type="radio"] + span:hover {
  background: #bbb;
}
.listchoice:hover input[type="radio"]:checked + span:hover {
  background: cornflowerblue;
}

.listchoice:hover input[type="radio"]:checked + span {
  border-radius: 0;
}
.listchoice:hover
  .listchoiceobjects
  label:nth-last-of-type(1)
  input[type="radio"]:checked
  + span {
  border-radius: 0 0 0.2em 0.2em;
}

.listchoice:hover .listchoiceobjects {
  max-height: 540px;
}
