

*{
    padding: 0;
    margin: 0;
}

main{
  width: 100%;
    display: flex;
    margin-top: 100px;

   

  .embrapii-content{
    width: 1000px;
    height: 800px;
    margin: auto;
    display: flex;
    .embrapii-outlet{

        width:100%;
        height: 100vh;
      
        display: flex;
        flex-direction: column;
        max-width: 200px;

       .logo-embrapii{
   

        margin-top: 5px;
       
            img{
                
                margin: auto;
                width: 100%;
            }
     }
            .listLink{
                    background-color: rgba(236, 236, 236, 0.855);
                padding: 0px;
                width: 120px;
              
             
                display: flex;
                text-align: start;
                flex-direction: column;
                align-items: start;
                li{

                    list-style: none;
                }li:nth-child(1)::before{
                    background-color:white;
                    background-color: rgb(196, 23, 23);
                    
                }li:nth-child(2){
                    border-top: 2px solid blue;
                    border-bottom: 3px solid blue;
                    
                }li:nth-child(5){
                    border-top: 2px solid blue;
                    border-bottom: 3px solid blue;
                    
                }
        }
    

    }
    .embrapii-roll{
        width: 800px;
        height: 100vh;
   

        .carousel{
          
            width: 0px;
            height: 500px;
            
            img{
                width: 800px;
                height: 450px;
            }
        }
    }
  }
}