footer{
    width: 100%;
     height: 450px;
     display: flex;
     flex-direction: column;
     display: flex;
     justify-content: center;
     align-items: center;

    background-color: #2160bd;

.list-footer{
  width: 1000px;
    margin-top: 180px;
    .list{
   
        display: flex;
        
        color: white;
        ul{
            margin-right: 100px;    
            list-style: none;
        
        li{
            cursor: pointer;
            border-left: 1px dashed white;
            font-size: 13px;
            padding-left: 8px;
            padding: 2px 0px 8px 8px;
            font-weight: 500;
         
        }li:nth-child(1){
            font-weight: 700;
            font-size: 18px;
        }
    }ul:nth-child(4){
        margin-right: 0px;
    }
}
}

    div{
        width: 940px;

      
    }
}
.footer-end{
    width: 100%;
    height: auto;



    background-color: #0042b2;
    div{
        width: 1300px;
        height: auto;
  
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        margin: auto;

        div{
            margin-top: 20px;
            width: 300px;
            height: 70px;
        }
    }
}