
.dynamic_layout{
    width: 712px;
    height: auto;
 #institucional h3{
    font-weight: 100;
    font-size: 25px;
    text-align: start;
   
    color: rgb(85, 84, 84);
 }#institucional h4{
   color:rgb(77, 124, 212);
   font-weight: 500;
   text-align: start;
   font-size: 20px;
 }#institucional .listaPDI{
    padding: 0px;
    li::before{
        content:"✅ ";
        filter: sepia(20%);
    
    margin-left: 10px;
    }li{
        list-style: none;
    }
 }

    .apresentation_movie{
        display: flex;
        

        iframe{
            margin: auto;
            margin: 10px;
        }
    }
    .carousel {
        width: 712px;
        height: 450px;
  

   


        .carousel-indicators {
            position: relative;
            top: 370px;
            button {
                width: 10px;
                height: 10px;
                border-radius: 360px;
                border: 2px solid rgb(95, 87, 87);
                transform: rotate(360deg);

            }
          
        }
        .img-carousel-index {
            width: 712px;
           resize: horizontal;
            height: 403px;
        }


  

        .caption {

            background-color: rgba(0, 0, 0, 0.461);
            justify-content: center;
            position: relative;
            left: 0px;
            top: -40px;
            
            height: 20px;
            width: 712px;
       
            h1{
                font-family: "Rawline",sans-serif;
                position: relative;
                top: -12px;
                left: 10px;
                font-size:18px;
                line-height: 1.5;
                font-weight: 400;
                text-align: start;
            }



        }
    }
    .bold-list{
        margin-top: 5px;
        font-weight: 500;
        list-style: none;
        padding: 0px;
        border-top: 5px solid #172938;

    }
    .logos_to{
        display: flex;
    
      align-items: end;
      justify-content: end;
      border-bottom: 5px solid #172938; 
        div{
           
          
            margin: 0.3rem;
        }
    }
}