
.dynamic_layout{
    width: 722px;
    height: auto;
 
    .apresentation_movie{
        display: flex;
        

        iframe{
            margin: auto;
            margin: 10px;
        }
    }
    .carousel {
        width: 722px;
        height: 450px;
        margin-bottom: 40px;

   


        .carousel-indicators {
            position: relative;
            top: 380px;
            button {
                width: 10px;
                height: 10px;
                border-radius: 360px;
                border: 2px solid rgb(95, 87, 87);
                transform: rotate(360deg);

            }
          
        }
        .img-carousel-index {
            width: 722px;
           resize: horizontal;
            height: 420px;
        }


  

        .caption {

            background-color: rgba(0, 0, 0, 0.461);
            justify-content: center;
            position: relative;
            left: 0px;
            top: -40px;
            
            height: 20px;
            width: 722px;
       
            h1{
                font-family: "Rawline",sans-serif;
                position: relative;
                top: -12px;
                left: 10px;
                font-size:20px;
                line-height: 1.5;
                font-weight: 400;
                text-align: start;
            }



        }
    }
    .bold-list{
        margin-top: 5px;
        font-weight: 500;
        list-style: none;
        padding: 0px;
        border-top: 5px solid #172938;

    }
    .logos_to{
        display: flex;
    
      align-items: end;
      justify-content: end;
      border-bottom: 5px solid #172938; 
        div{
           
          
            margin: 0.3rem;
        }
    }
}