



* {
    padding: 0;
    margin: 0;
}

.general-content{
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 2500px;
    

}

main{

    width: 940px;
    padding-top: 40px;
    height: auto;
    margin: auto;
}


.notes_title {
    border-top: 5px solid #2c66ce;
    color: #2c66ce;
    background-color: rgba(0, 0, 0, 0.149);
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    h1 {
        margin-left: 10px;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;

    }
   
}

.projetos{

.group-projects{
    display: flex;

    img{
        width: 220px;
        height: 300px;
    }
}

}
.parcerias{
    img{
        margin-bottom: 30px;
    }
}






