
.static_compose {

    width: 180px;
    height: auto;
    margin-right: 38px;
    display: flex;
    flex-direction: column;
    .logo_static_compose {
        img {
            margin: auto;
            width: 180px;
            height: 80px;
       
        
        }
    }

    .listLink {
      
        padding: 0px;
        margin-top: 20px;
        width: 180px;
        display: flex;
        text-align: start;
        flex-direction: column;
        cursor: pointer;

        li{
    
            padding: 8px;
            width: 100%;
            font-size: 18px;
            list-style: none;
            color: #2c66ce;
            border-bottom: 1.5px solid #DFDFDF;
          
            a{
                text-decoration: none;
                color: #2c66ce;
            }
          
        }li:hover{
            background-color: #eeeeee;
        }li:nth-child(1){
            background-color: white;
        }li:nth-child(1)::before{
            font-size: 20px;
     
            background-color: white;
        }

    }
    
    .notes_static {
        border-top: 5px solid #2c66ce;
        color: #2c66ce;
        background-color: #EDEFF1;
        padding: 10px;
        height:70px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      
        width: 100%;
        h1 {
            margin: 12px;
            font-size: 18px;
          
          
    
        }a{
            text-decoration: none;
            color: #2c66ce;
        }
    }
}