.box_team_aligner{
  
    display: flex;
    flex-direction: column;
    width: auto;
    margin-bottom: 50px;
    width: 712px;
}.box_team_aligner > div{
  
    display: flex;
    width: auto;
    margin-bottom: 50px;
    width: 712px;
    max-width: 712px;
}
.box_team{

    align-items: start;
    

}.box_team div{
    display: flex;
    width: 100%;
    margin: 5px;
    
  
   
}.box_team ul{
    padding: 0px;
    margin-left: 10px;
    
    


}
.box_team ul li{
    list-style: none;
    font-weight: 600;

    
}.box_team h1{
    font-size: 16px;
    margin-top: 0px;

}.box_team > div{
    height: 120px;
    width:225px;
    display: flex; 

    
}.box_team .notes_title{
    height: 50px;
    border-top: 3px solid cornflowerblue;
   
}
.box_team ul a{
    font-weight: 500;
    color: gray;
    font-size: 12px;
}.box_team ul li span{
    font-size: 12px;
}.box_team ul li:nth-child(1){
    font-size: 15px;
    
}.box_team img{
    margin-right:5px ;
}
    
    
