
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
//estilos do navegador
.nav-style {

    width: 100%;

    height: 40px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;

    div {
        margin: auto;
        width: 940px;
        justify-content: space-between;
        display: flex;

       
      
        .logo{
      
            width: 100px;
            height: 50px;
            
            
            margin-right: 120px;
     
  
         
          
            span{
                text-align: center;
                margin-top: 6px;
                margin-left: 5px;
                border-right: 1px solid rgb(5, 5, 5);
                padding-right:10px ;
                height: 20px;
            }
            img{
                width:40px;
                height: 25px;
                margin-right: 20px;
                margin-top: 2px;
            }
        }

        ul {

         
            height: 40px;
            width: 850px;
            display: flex;
            flex-direction: row;
            align-items: center;


            li {
                width: auto;
                list-style: none;
                font-family: "Roboto",sans-serif;
                color: #242323;
                font-size: 12px;
                height: 20px;
                padding-right:10px ;
                padding-left: 20px;
                border-right: 1px solid black;
            
              
            }
            img{
                margin-left: 20px;
            }

        }
    }
}
//estilos abaixo do navegador = hero
.hero{
width: 100%;
height: 200px;
background-color: #2160bd;
.content{
    margin: auto;
    width:1000px;
    .baseboard{
        display: flex;
        flex-direction: row;
        padding: 5px;

        ul{
            width: 700px;       

            li{
                width: 130px;  
                cursor: pointer;
       
                list-style: none;
                display: inline-block;
                color: white;
                font-size: 12px;
                span{
                    padding-left: 5px;
                    padding-right: 5px;
                    width: 20px;
                    
                    background-color: #f1f1f1;
                    color: black;
                    height: 10px;

                }
            }
        }

    }


  
    .apresentation-align{
        display: flex;
        .apresentation{
          
            color: white;
            font-family:"Poppins",sans-serif ;
            width: 480px;
            margin-left: 30px;
            margin-top: 10px;
            height: 120px;
        
    
    
            h1{
                padding: 2px;
                font-size: 30px;
   
                
            }
            span{
                margin-left: 5px;
                }
        }
        .searcher{
            width: 450px;
            height: 80px;
            padding-top: 20px;
          
            display: flex;
       
            align-items: end;
          
            flex-direction: column;
            form{
                display: flex;
                justify-content: end;
                background-color: white;
                width: 300px;
                border-radius:5px 0px 0px 5px ;
                align-items: center;
                
            
                
                input{
                   
                    
                    border: none;
                    width: 280px;
                    margin-left: 5px;
                    height: 25px;
                    background-color:white;
                }
                input [type="*"]{
                    font-family: 'Roboto',sans-serif;
                    font-size: 25px;
                    color: red;
                }input:focus{
                    box-shadow: 0 0 0 0;
                    border: 0 none;
                    outline: 0;
                }
                button{
                    cursor: pointer;
                    background-color: white;
                    outline: none;
                    border: none;
                    width: 50px;
                    height: 35px;
                }  
            }
        }
    }
   
}
.baseboard{
    width: 100%;
    height: 35px;

    display: flex;

}
.apresentation-baseboard-main{
   background-color: #0e4097; 

   .apresentation-baseboard-2{
    width: 1000px;
    height: 35px;
    margin: auto;
    display: flex;
    color: white;
    align-items: start;
    justify-content: end;
    

    ul{
        width: 700px;
        display: flex;
        height: 30px;
        flex-direction: row;
        justify-self: start;
        align-items: center;
   
     
        justify-self: center;
       
        li{
            
            height: 20px;
            list-style: none;
            border-right: 1px solid black;
            padding-right:10px ;
            padding-left: 20px;
            font-family: 'Tahoma',sans-serif;
        }
    }

}
}



}