* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background-image: linear-gradient(to top, #9ba0ff, #b8b7ff, #d2ceff, #e9e6ff, #ffffff);

}

html ::-webkit-scrollbar {
  scrollbar-width: none;
}

header {
  display: flex;
  flex-direction: column;

  width: 100%;


  justify-content: center;
  align-items: center;

}

nav {
  background-color: black;
  border-top: 5px solid rgb(102, 102, 102);
  width: 100%;
  height: 80px;
  display: flex;
}

nav img {
  width: 100px;


}

main {
  margin: auto;

  display: flex;

}

.section-tables {
  margin: auto;

  max-width: 1280px;


}

.content button {
  border: none;
  color: white;
  transform: none;

  font-family: 'Tahoma',sans-serif;
  height: 50px;
  background-color: transparent;

}

.content button:active {
  border-top: 1px solid orange;
}

.content button:hover {
  border-bottom: 1px solid rgb(255, 0, 0);
}

header div img {
  width: 190px;
}

.content .search-bar {
  width: 360px;
  height: 100px;

  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

}

.content .search-bar input[type=text] {
  width: 350px;
  height: 45px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  background-color: transparent;
border-bottom: 2px solid white;
 border-top: none;
 border-left: none;
 border-right: none;
  padding: 8px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}
.content .search-bar input[type=text]:focus{
outline: none;

}
.content .search-bar input[type=text]:active{
  border-top: none;
  border-left: none;
  border-right: none;

}


.content .search-bar input[type=placeholder] {
  color: red;
}

.content .search-bar label {
  font-size: 20px;
  font-family: 'Tahoma', sans-serif;
}

.content .search-bar button[type=submit] {
  padding: 8px;
  color: orange;

  background-color: black;

}

nav ul {
margin: auto;
width:600px;

}

nav ul li {
  list-style: none;
  height: 35px;
  margin: 10px;
  display: inline-block;
}
nav ul li:hover{
border-bottom: 1px solid white;
}
nav ul li:active{
border-bottom: 1px solid orange
}

nav ul li a {
  color: white;
  margin: 5px;
  font-size: 20px;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}


.tables {
  border: 1px solid rgb(0, 0, 0);
  width: 1280px;
  height: 500px;
  overflow: scroll;
  background-color: black;
  border: 5px solid rgb(0, 0, 0);

}

.tables::-webkit-scrollbar {
  display: none;
}

.tables table thead tr{


  width: 100%;

}

.tables thead td{
  color: white;
  font-family: 'Tahoma',sans-serif;

}
.tables thead tr{
background-color: black;
}



.tables thead button:nth-child(1) {
  width: 100%;
}

.tables table thead tr {
  border: 2px solid red;
  position: sticky;
  top: 0;
}
.tables table tbody tr {
height: 50px;
transition: 0.5s ease;
}
.tables table tbody tr:hover {

  font-weight: 700;
  color: rgb(55, 55, 55);
  border-bottom: 2px solid rgb(255, 255, 255);

}







.tables tbody td {
  width: 100px;
  background-color: rgb(0, 0, 0);
  color: white;

}

.tables tbody td:hover {
  height: 60px;

}

.tables thead td,
.tables tbody td {
  text-align: center;

  transition: 0.3s smooth;
  border-bottom: 2px solid black;
}

.tables thead td:nth-child(1),
.tables tbody td:nth-child(1) {


  width: 100px;
  color: rgb(255, 255, 255);
}
.tables thead td:nth-child(2),
.tables tbody td:nth-child(2) {

  width: 200px;
  color: rgb(255, 255, 255);
}
.tables thead td:nth-child(4),
.tables tbody td:nth-child(4) {

  width: 130px;
  color: rgb(255, 255, 255);
}
.tables thead td:nth-child(6),
.tables tbody td:nth-child(6) {

  width: 130px;
  color: rgb(255, 255, 255);
}
.tables thead td:nth-child(7){

  width: 10px;
  color: rgb(255, 255, 255);
}
.tables thead td:nth-child(8),
.tables tbody td:nth-child(8) {

  width: 170px;
  color: rgb(255, 255, 255);
}

.tables tbody tr:nth-child(even) {
  background-color: rgba(175, 175, 172, 0.236);
}

footer {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid rgb(102, 102, 102);
  justify-content: center;
}

footer p {
  text-align: center;
  color: white;
}