.teste{
    width: 940px;
    height:auto;
  
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    
    h1{
        color: red;
        font-weight: 800;
        text-align: center;
    }h2{
        color: greenyellow;
        font-weight: 800;
    }.prev{
        color: red;
        font-size: 20px;
    }
  
    .carousel{
        width: 500px;
        height:200px;
      .content-teste{
            width: 300px;
            height: 300px;
        
       
            
        img{
                width: 300px;
                height: 200px;
            }
        
        }
        
    .carousel-control-prev-icon {
        background-color: #0d6efd;
        border-radius: 30px;
        height: 100px;
        width: 30px;
    }

    .carousel-control-next-icon {
        background-color: #0d6efd;
        border-radius: 20px;
        height: 100px;
       
  
    } .carousel-control-next-icon:hover{
        background-color: black;
    } .carousel-control-prev-icon:hover{
        background-color: black;
       
    }
    
    .carousel-inner{
        width: 300px;
        margin: auto;
    }
    .caption{
       background-color: transparent;
      
        color: red;
        width: 300px;
        height: 100px;
        text-align: center;
        margin-top: 20px;
      
  
    }  .carousel-indicators{
        display: none;

        h2{
            color: greenyellow;
            font-weight: 800;
        }
      
     }
   
}
section{
    margin-top: 50px;
 }
}