
/* ========================================================================== 
                        INDICATORS LAYOUT STYLE
   ========================================================================== */

   /* Arquivo de configuração de indicadores countup 
  {  import CountUp from "react-countup"; }
   https://www.npmjs.com/package/react-countup
   *
   *
   *
   */
.indicators-layout{
    max-width: 712px;
    width: 712px;
    height:auto;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    h3{
        font-weight: 500;
        color: #2c66ce;
    }
.indicators{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 225px;
            margin: 5px;
            height: 150px;
            border: 2px solid rgba(0, 0, 0, 0.149);
            padding: 0px 10px 0px 10px;
            div{
                border: none;
                max-height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 200px;  
            p{
                text-align: center;
                font-size: 32px;
                font-weight: 500;
                font-family: "Poppins",sans-serif;
                color: #2c66ce;
            }
          
            }span{
                font-weight: 500;
            }
    
        }div:nth-child(4){
            max-width: 350px;
        }div:nth-child(5){
            max-width: 350px;
        }
     
    }
    .title-indicators{
        display: flex;
        flex-direction: row;
        width: 580px;
        align-items: center;
        margin: auto;
    }
}