/*Estilos para lista principal lateral (left direction)*/
.main-list-ld {
  width: 165px;
  height: auto;
  display: flex;
  flex-direction: column;
  .logo-main-list-ld {
    img {
      margin: auto;
      width: 100%;
      margin-top: 30px;
      height: 80px;
    }
  }

  .listLink ul{
    padding: 0px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    text-align: start;
    flex-direction: column;
    cursor: pointer;

    li {
      padding: 8px;
      width: 100%;
      font-size: 18px;
      list-style: none;
      border-bottom: 1.5px solid #dfdfdf;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
  li:hover {
    background-color: #eeeeee;
  }
  li:nth-child(1) {
    background-color: white;
  }
  li:nth-child(1)::before {
    font-size: 20px;

    background-color: white;
  }
}

.notes_static {
  border-top: 5px solid #2c66ce;
  color: #2c66ce;
  background-color: #edeff1;
  padding: 10px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  width: 100%;
  a {
    text-decoration: none;
    color: #2c66ce;
  }
  h1 {
    margin: 12px;
    font-size: 18px;
  }
}
