.outlet-layout {
  width: 712px;

  #institucional h3 {
    font-weight: 100;
    font-size: 25px;
    text-align: start;

    color: rgb(85, 84, 84);
  }

  #institucional h4 {
    color: rgb(77, 124, 212);
    font-weight: 500;
    text-align: start;
    font-size: 20px;
  }

  #institucional .listaPDI {
    padding: 0px;

    li::before {
      content: "✅ ";
      filter: sepia(20%);

      margin-left: 10px;
    }

    li {
      list-style: none;
    }
  }
  #infraestrutura .listaInfra {
    padding: 0;
    li {
      list-style: none;
      border: 1px solid gray;
      height: auto;
      filter: saturate(0);
      padding: 0px 10px 10px;
    }
    li:hover {
      filter: saturate(1);
      cursor: pointer;
    }
  }

  #infraestrutura .cards-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-top: 20px;
    flex-wrap: wrap;

    .card {
      width: 350px;
      height: 650px;
      border: none;
      margin-bottom: 15px;

      background-color: #edeff1;
      table {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        justify-content: space-between;

        .table-separator {
          display: flex;

          td {
            width: 100%;
          }
        }
        td {
          text-align: justify;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          color: #5d5d5d;
        }
      }
      u {
        margin-right: 5px;
        font-weight: 600;
      }
    }
    .card-title {
      border-bottom: 2px solid rgb(0, 0, 0);
      font-size: 20px;
      color: #5d5d5d;
      height: 40px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    .card-text {
      overflow: scroll;
      text-align: justify;
      scrollbar-width: none;
      font-size: 0.9rem;
      font-family: "Roboto", sans-serif;
      color: #5d5d5d;
    }
    .card-img-top {
      border-bottom: 2px solid cornflowerblue;
      width: 100%;
      border-radius: 5px;
      margin: auto;
      height: 200px;
    }
    .btn-primary {
      height: 35px;
      position: absolute;
      margin-bottom: 20px;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 12px;
      }
    }.search-error{
      width: 100%;
      display: flex;
      justify-content: center;
      span{
        color: black;
        font-weight: 600;

      }
    }
  }
  #infraestrutura {
   
    form{
      border: 1px solid cornflowerblue;
      border-radius: none;
      margin: auto;
      width: 100%;
      margin-bottom: 0px;
     


    } 
    // .list-dropdown{
    //   display: flex;
    //   text-align: center;
    //   color: white;
    //   flex-direction: column;
    //   width: 100%; 
    //   background-color: #2c66ce;
    //   font-family: 'Open-Sans',sans-serif;
    //   outline: none;
    //   appearance: none;
    //     option{
    //       text-align: center;
    //       height: 30px;
    //       width: 100%;
    //       background-color: white;
    //       color: black;
    //       transition: 0.3s;
    //       outline: none;
    //       border: none;
    //     }option:checked{
    //       background-color: #2c66ce;
    //     }
    // }
  }

  .carousel {
    position: relative;
    top: -30px;
    width: 712px;

    .carousel-inner {
      height: auto;
      height: 403px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: #42434479;
      border-radius: 360px;
      height: 40px;
      width: 40px;
    }

    .carousel-indicators {
      position: relative;
      top: 360px;

      button {
        width: 10px;
        height: 10px;
        border-radius: 360px;
        border: 2px solid rgb(95, 87, 87);
        transform: rotate(360deg);
      }
    }

    .img-carousel-index {
      width: 712px;
      resize: horizontal;
      height: 403px;
    }

    .caption {
      background-color: rgba(0, 0, 0, 0.461);
      justify-content: center;
      position: relative;
      left: 0px;
      top: -50px;

      height: 50px;
      width: 712px;

      h1 {
        font-family: "Rawline", sans-serif;
        position: relative;
        top: -12px;
        left: 10px;
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
        text-align: start;
      }
    }
  }

  .bold-list {
    margin-top: 5px;
    font-weight: 500;
    list-style: none;
    padding: 0px;
    border-top: 5px solid #172938;
  }

  .vantagensWithChart {
    display: flex;
    max-width: 712px;
    height: 230px;
    justify-content: space-between;
    overflow: hidden;

    .listaVantagens {
      font-size: 12px;
      width: 450px;
      list-style: none;
      filter: saturate(0);
      justify-content: end;
    }

    .listaVantagens li {
      padding: 5px;
      border-bottom: 1px dashed black;
    }
  }

  .titleVantagens {
    h1 {
      color: #0d6efd;
      font-family: "Poppins", sans-serif;
      font-size: 20px;
      width: 600px;
      text-align: center;
    }
  }

  .boxAreaAtuacao {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 712px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .boxAreaAtuacao div:nth-child(1) {
    width: 175px;
    margin: 1.5px;
    height: 135px;
    background: url("https://rijeza.com.br/wp-content/uploads/2023/09/Laser-Cladding-.jpeg");
    background-size: cover;
  }
  .boxAreaAtuacao div:nth-child(2) {
    width: 175px;
    margin: 1.5px;
    height: 135px;
    background: url("https://lh3.googleusercontent.com/proxy/lSoSu3d28bfJCfLeoW-AuX869afwCRvl-7uJtKF5MuSTzFzoWQkYEn3sDZsMTaQMg-qPAv4x4nTF6Fv5w25xRpIy6B9zoRNOWEnvRHkh5YCi76uY72-75MXiuULP20SZDBQt");
    background-size: cover;
   
  }
  .boxAreaAtuacao div:nth-child(3) {
    width: 175px;
    margin: 1.5px;
    height: 135px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0LK4uHYB46bni89SeDqf8uu2UW2cXbrBq1A&s");
    background-size: cover;
  }
  .boxAreaAtuacao div:nth-child(4) {
    width: 175px;
    margin: 1.5px;
    height: 135px;

    background: url("https://s1.static.brasilescola.uol.com.br/be/vestibular/o-engenheiro-manipula-os-materiais-ja-existentes-cria-novas-propriedades-59c562ffdca62.jpg");
    background-size: cover;
  }

  .boxAreaAtuacao div h4 {
    font-size: 20px;
    margin-top: 50px;
    filter: brightness(100%);
    text-align: center;
    text-shadow: 0px 10px 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }

 
}
